
  <div id="footer">
  <div class="container">
          <footer>
                <p>© 2017<a style="color: #6B6E65;text-decoration:none;" href="#"> Víctor Manuel Díaz Bascur</a>, All rights reserved 2016-2017.</p>
          </footer>
  </div><!--/container-->
</div>
