<div class="panel panel-default plugins">
  <div class="panel-heading">
        <h3 class="panel-title">
        </span><strong>dt-chocolate - jPlayer XSS</strong></h3>
  </div>
  <div class="panel-body fixed-panel">
    <h1 style="font-size: 25px;"> <strong>Referencias</strong></h1>

    <div class="row">
        <div class="col-md-6">
          <label for="">PACKETSTORM</label>
        </div>
        <div class="col-md-6">
            <a href="http://packetstormsecurity.com/files/124756/"> 124756</a>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6">
          <label for="">SECUNIA</label>
        </div>
        <div class="col-md-6">
            <a href="https://secunia.com/advisories/56379/"> 56379</a>
        </div>
    </div>


    <h1 style="font-size: 25px;"> <strong>Clasificación</strong></h1>
    <div class="row">
        <div class="col-md-6">
          <label for="">Tipo</label>
        </div>
        <div class="col-md-6">
            <label for="">XSS</label>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label for="">OWASP Top 10</label>
          </div>
          <div class="col-md-6">
              <a href="https://www.owasp.org/index.php/Top_10_2013-A3-Cross-Site_Scripting_(XSS)"> A3: Cross-Site Scripting (XSS)</a>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <label for="">CWE/label>
          </div>
          <div class="col-md-6">
              <a href="https://cwe.mitre.org/data/definitions/79.html"> CWE-79</a>
          </div>
      </div>


</div>

</div>
