<div class="container">
    <div class="panel panel-default version">
        <div class="panel-heading">
            <h3 class="panel-title">
              </span> An치lisis de sitio <%= @scan.url%>
            </h3>
        </div>
        <div class="panel-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="logo"><%= image_tag 'wordpress-logo.png' %></div>
              </div>
              <div class="col-md-4">
                <div class="info">
                    <label class="label_version">Versi칩n WordPress:</label> <br>
                    <label class="numero_version"><a href="#">4.5</a></label> <br>
                    <label class="label_version">Versi칩n actualizada</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                    <label class="label_version">Tema Utilizado</label> <br>
                    <label class="numero_version">dt-chocolate</label> <br>
                    <label class="label_version">Versi칩n actualizada</label>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
<!--<%= render 'shared/show_plugins'%>-->
<%= render 'shared/theme_details'%>

</div>
