<div class="container">
  <div class="jumbotron">
    <h2>Bienvenido <%=current_user.name%> a</h2>
    <h1 style="font-family:Ultra">SCANNINGWP</h1>
    <p class="home">Software de verificación y análisis de vulnerabilidades para páginas web construidas en WordPress.</p>
    <p><strong>Para realizar un análisis vaya a "Nuevo Análisis" en la barra de navegación</strong></p>
  </div>
</div>
